@model ssbbr.Data.DataModels.Games

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Edit</h1>

<h4>Games</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="code" class="control-label"></label>
                <input asp-for="code" class="form-control" />
                <span asp-validation-for="code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="platform" class="control-label"></label>
                <input asp-for="platform" class="form-control" />
                <span asp-validation-for="platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type_of_source" class="control-label"></label>
                <input asp-for="type_of_source" class="form-control" />
                <span asp-validation-for="type_of_source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age_rating" class="control-label"></label>
                <input asp-for="age_rating" class="form-control" />
                <span asp-validation-for="age_rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre1" class="control-label"></label>
                <input asp-for="genre1" class="form-control" />
                <span asp-validation-for="genre1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre2" class="control-label"></label>
                <input asp-for="genre2" class="form-control" />
                <span asp-validation-for="genre2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

