@{
    ViewData["Title"] = "ستاد ساماندهی بازار بازی های رایانه ای";
}

@{
    Layout = "_LayoutDashboard";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <p>Hello</p>
        </div>
    </div>
</div>