@model ssbbr.Data.RegisterForm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>فرم درخواست شناسه کاربری</h1>
@if (ViewBag.res != "no")
{
    var appointments = ViewBag.res;
    <h3 style="color: #a91414">@appointments</h3>
}
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">نام</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label">نام خانوادگی</label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalCode" class="control-label">کد ملی</label>
                <input asp-for="NationalCode" class="form-control" />
                <span asp-validation-for="NationalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label">موبایل</label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">شماره تماس</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Fax" class="control-label">فکس</label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">ایمیل</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label">استان</label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">شهر</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label">سابقه همکاری با بنیاد به ماه</label>
                <input asp-for="Resume" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Responsibility" class="control-label">مسئولیت در اداره فرهنگ و ارشاد اسلامی</label>
                <input asp-for="Responsibility" class="form-control" />
                <span asp-validation-for="Responsibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">کلمه رمز</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password2" class="control-label">تکرار کلمه رمز</label>
                <input asp-for="Password2" class="form-control" />
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
            @if (ViewBag.res != "no")
            {
                var appointments = ViewBag.res;
                <h3 style="color:#a91414">@appointments</h3>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="ثبت نام" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
